[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-smartinput"]
	path = bundle/vim-smartinput
	url = git://github.com/kana/vim-smartinput.git
[submodule "syntax/html5.vim"]
	path = syntax/html5.vim
	url = git://github.com/othree/html5.vim.git
[submodule "syntax/scss-syntax.vim"]
	path = syntax/scss-syntax.vim
	url = git://github.com/cakebaker/scss-syntax.vim.git
[submodule "syntax/vim-javascript"]
	path = syntax/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "syntax/vim-markdown"]
	path = syntax/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "syntax/vim-node.js"]
	path = syntax/vim-node.js
	url = git://github.com/mmalecki/vim-node.js.git
[submodule "syntax/vim-rails"]
	path = syntax/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "syntax/vim-rspec"]
	path = syntax/vim-rspec
	url = git://github.com/skwp/vim-rspec.git
[submodule "syntax/vim-ruby"]
	path = syntax/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "colors/molokai"]
	path = colors/molokai
	url = git://github.com/tomasr/molokai.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/jridgewell/nerdtree.git
[submodule "colors/vim-colors-solarized"]
	path = colors/vim-colors-solarized
	url = git://github.com/skwp/vim-colors-solarized.git
[submodule "syntax/vim-endwise"]
	path = syntax/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = git://github.com/honza/snipmate-snippets.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
